.tableWrapper {
  width: 100%;
}

.table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.headTitle {
  height: 16px;
  padding: 16px;
  text-align: start;
  border-bottom: 1px solid var(--border-stroke-primary);
  background: var(--surface-surface-1);
}

.headCell {
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headCellNoEllipsis {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer {
  padding: 12px 16px;
  background: var(--surface-surface-1);
  text-align: end;
}

.footerBody {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: end;
}

.footerTextWrap {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.footerText {
  margin-right: auto;
  color: var(--text-secondary);
}

.bodyRow {
  border-bottom: 1px solid var(--border-stroke-primary);
}

.bodyCell {
  padding: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bodyCellNoEllipsis {
  padding: 16px;
}
