.selectContainer {
  display: flex;
  height: 56px;
  padding: 8px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--surface-surface-1);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  flex: 1 0 0;
  min-width: 0;
}

.chevronIcon {
  width: 20px;
  height: 20px;
}

.errorLabel {
  color: var(--text-error);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: start;
}

.label {
  color: var(--text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: start;
}

.selectText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: start;
  color: var(--text-primary);
}
