.selectContainer {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-surface-1);
  border-radius: 8px;
  padding: 8px 16px;
}

.label {
  display: flex;
  color: var(--text-secondary);
}

.errorLabel {
  display: flex;
  color: var(--icon-error-color);
}

.selectModalWrap {
  display: inline-block;
  overflow: hidden;
  text-align: left;
}

.selectText {
  color: var(--text-primary);
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  vertical-align: middle;
}

.clearIcon {
  fill: var(--icon-secondary-color);
}
