@import '/src/styles/colors.module';

.selectContainer {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  background-color: $Surface-Surface-1;
  border-radius: 8px;
  padding: 8px 16px;
}

.label {
  display: flex;
  color: $Text-Secondary;
}

.errorLabel {
  display: flex;
  color: $icon-error-color;
}

.selectText {
  display: flex;
  color: $Text-Primary;
}
