.tab {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex: 1 0 0;
}

.titleActiv {
  padding: 8px 0px;
  width: 100%;
  color: var(--text-primary);
  text-align: center;
  border-bottom: 2px solid var(--icon-accent-color);
}

.title {
  width: 100%;
  padding: 8px 0px;
  color: var(--text-disabled-color);
  text-align: center;
  border-bottom: 2px solid var(--surface-surface-3);
}

.titleError {
  text-align: center;
  border-bottom: 2px solid var(--text-error);
}
