.contentWrap {
  background: var(--page-color-background-white);
  border-radius: 16px;
  animation: flyDown 1s;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.contentWrapHeight {
  max-height: calc(100% - 64px);
}

@media (min-width: 768px) {
  .largeVariant {
    width: clamp(598px, 70vw, 749px);
  }
}

@media (min-width: 1024px) {
  .largeVariant {
    width: clamp(749px, 70vw, 1052px);
  }
}

@media (min-width: 1280px) {
  .largeVariant {
    width: clamp(1052px, 70vw, 100%);
  }
}

@media (min-width: 1440px) {
  .contentWrap {
    margin: auto 194px;
  }
}

.smallVariant {
  width: 400px;
}

.contentHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 12px 16px;
}

.title {
  color: var(--text-primary);
}

@keyframes flyDown {
  from {
    transform: translateY(-1000px);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.contentBody {
  flex: 1 1 auto;
  overflow-y: auto;

  min-height: 0;
}

.contentFooter {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.fixModal {
  padding: 32px 0px;
  overflow-y: auto;
  align-items: flex-start;
}
