.contentWrap {
  background: var(--page-color-background-white);
  border-radius: 16px;
  height: fit-content;
  animation: flyDown 1s;
}

.largeVariant {
  width: 1052px;
}

.smallVariant {
  width: 400px;
}

.contentHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 12px 16px;
}

.title {
  color: var(--text-primary);
}

@keyframes flyDown {
  from {
    transform: translateY(-1000px);
    opacity: 0.1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
