@import '/src/styles/typography.module';
@import '/src/styles/colors.module';

.button {
  border: none;
  transition: background-color 0.2s ease;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-default {
  color: $default-white-color;
  background-color: $default-primary-accent;
}

.btn-default--disabled {
  color: $Text-Disabled-color;
  background-color: $button-disabled-default-color;
}

.btn-tinted {
  color: $Text-Accent;
  background-color: $button-tinted-default-color;
}

.btn-tinted--disabled {
  color: $Text-Disabled-Accent-color;
  background-color: $button-tinted-default-color;
}

.btn-secondary {
  color: $Text-Primary;
  background-color: $Surface-Surface-3-color;
}

.btn-secondary--disabled {
  color: $Text-Secondary;
  background-color: $Surface-Surface-3-color;
}

.btn-default:hover {
  background-color: $button-primary-on-hover-color;
}

.btn-tinted:hover {
  background-color: $button-tinted-on-hover-color;
}

.btn-secondary:hover {
  background-color: $button-secondary-on-hover;
}

.btn--mini {
  gap: 4px;
  padding: 6px 12px;
  @include caption2Medium;
}
.btn--small {
  gap: 8px;
  padding: 8px 16px;
  @include caption1Medium;
}
.btn--medium {
  gap: 8px;
  padding: 8px 20px;
  @include body2Medium;
}
.btn--large {
  gap: 8px;
  padding: 14px 24px;
  @include bodyMedium;
}

.btn-square--mini {
  border-radius: 4px;
}
.btn-square--small {
  border-radius: 6px;
}
.btn-square--medium {
  border-radius: 10px;
}
.btn-square--large {
  border-radius: 12px;
}

.btn-rounded--mini {
  border-radius: 32px;
}
.btn-rounded--small {
  border-radius: 32px;
}
.btn-rounded--medium {
  border-radius: 32px;
}
.btn-rounded--large {
  border-radius: 40px;
}
