.reasonWrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
}

.reasonContent {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.reasonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 16px;
  border-radius: 12px;
  background: var(--surface-surface-2);
}

.reasonTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-primary);
  text-align: center;
}

.reasonDescription {
  white-space: pre-line;
}

.reasonTextarea textarea {
  min-height: 62px;
}

.reasonTextarea {
  width: 100%;
}

.reasonTextarea textarea::placeholder {
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.reasonFooter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 12px;
  background: var(--surface-surface-2);
}

.reasonButton {
  width: 100%;
}
