.wrap {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 12px;
  animation: flyUp 1s;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: 12px;
  background: var(--surface-surface-2);
  box-shadow: 0 12px 32px 0 rgba(128, 130, 136, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 16px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon {
  width: 48px;
  height: 48px;
  fill: var(--icon-tertiary);
  cursor: pointer;
}

.text {
  color: var(--text-secondary);
}

.button {
  margin-top: 16px;
}

@keyframes flyUp {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.overlayModalFix {
  padding: 32px 0px;
  overflow-y: scroll;
  align-items: flex-start;
}
