.card {
  position: relative;
  display: inline-block;
  container-type: inline-size;
  color: var(--text-primary);
}

.illustration {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  inset: 0;
}

.photo {
  position: absolute;
  left: 4.53%;
  top: 26%;
  width: 29.68%;
  height: 60%;
  border-radius: 3cqi;
  object-fit: cover;
  background: var(--surface-surface-2);
}

.sign {
  position: absolute;
  left: 50%;
  top: 83%;
  width: 25.2%;
  height: 13.5%;
  border-radius: 2.5cqi;
  object-fit: fill;
  background: var(--surface-surface-2);
}

.field {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1cqi;
}

.field__label {
  font-family: Arial, Helvetica, sans-serif; /* TODO: change after design change*/
  font-size: 1.31cqi;
  letter-spacing: -0.02em;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--text-secondary, #758393);
}

.field__value {
  font:
    550 20px / 18px Arial, /* TODO: change after design change*/
    Helvetica,
    sans-serif;
  display: inline-block;
  transform: scaleX(0.8);
  transform-origin: left;
  letter-spacing: 0.07em;
  color: #333; /* TODO: change after design change*/
  text-align: center;
}

.lastName {
  left: 37.23cqi;
  top: 19.81cqi;
}

.firstName {
  left: 37.23cqi;
  top: 28.16cqi;
}

.middleName {
  left: 37.23cqi;
  top: 37.47cqi;
}

.birthDate {
  left: 37.23cqi;
  top: 45.58cqi;
}

.gender {
  left: 69.21cqi;
  top: 45.58cqi;
}

.iin {
  left: 4.53cqi;
  top: 56.5cqi;
  flex-direction: row;
  align-items: baseline;
  gap: 1.5cqi;
}
