.inputContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--surface-surface-1);
  border-radius: 8px;
}

.placeholderPadding {
  padding: 16px 16px;
}

.labelPadding {
  padding: 8px 16px;
}

.inputContainerLabeled {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--surface-surface-1);
  border-radius: 8px;
  color: var(--text-secondary);
}

.inputContainerIcon {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input {
  width: 100%;
  border: none;
  background-color: var(--surface-surface-1);
}

.input:active,
.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-disabled-color);
}

input {
  height: 24px;
}

textarea {
  height: 24px;
  box-sizing: border-box;
  resize: none;
  line-height: 24px;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clearIcon {
  cursor: pointer;
}

.clearIcon > :first-child {
  fill: var(--icon-secondary-color);
}

.code {
  text-align: center;
}

.baseFieldWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hintText {
  margin-top: 4px;
  color: var(--text-secondary);
}

.error {
  color: var(--text-error);
}
