.wrapper {
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  display: flex;
  height: 48px;
  padding: 12px 12px 12px 16px;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  align-self: stretch;
}

.iconEgov {
  display: flex;
  justify-content: center;
  width: 276px;
  height: 16px;
}

.actionButton {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bodyWrapper {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.message {
  text-align: center;
}

.actionBtn {
  width: 100%;
}
