.wrapper {
  display: flex;
  flex-direction: column;
  color: var(--text-disabled-color);
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.monthYear {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 100%;
  color: var(--text-primary);
}

.yearButton {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navButton {
  padding: 0;
  cursor: pointer;
}

.weekDays {
  height: 24px;
}

.grid,
.weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: calc((100% - 7 * 28px) / 6);
  text-align: center;
}

.weekDay,
.day {
  width: 28px;
}

.day {
  cursor: pointer;
  color: var(--text-primary);
  height: 28px;
}

.muted {
  color: var(--text-disabled-color);
}

.hiddenDay {
  visibility: hidden;
  pointer-events: none;
}

.selected {
  background-color: var(--surface-accent);
  color: var(--text-white-nonconvert-color);
  border-radius: 100px;
}

.years {
  max-height: calc(5 * 24px + 4 * 6px);
  margin: 8px;
  overflow-y: auto;
  display: grid;
  grid-auto-rows: 24px;
  row-gap: 6px;
}

.yearItem {
  cursor: pointer;
  color: var(--text-disabled-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.yearItemSelected {
  color: var(--text-primary);
}
