$default-primary-accent: #0581da;
$default-white-color: #fff;

// Surface Colors
$Surface-Surface-3-color: #e3e7eb;
$Surface-Surface-2: #fff;
$Surface-Surface-1: #f0f2f4;
$Surface-Surface-White---Nonconvert: #fff;
$Surface-Surface-Alt: rgba(240, 242, 244, 0.8);
$Surface-Surface-BlackOpacity: rgba(0, 0, 0, 0.24);

// Text Colors
$Text-Accent: #0581da;
$Text-Primary: #000;
$Text-White-nonconvert-color: #ffffff;
$Text-Disabled-color: #929daa;
$Text-Disabled-Accent-color: #9bcdf0;
$Text-Secondary: #758393;

// Icons Colors
$icon-error-color: #f35929;
$icon-warning-color: #f3a229;
$icon-accent-color: #0581da;
$icon-secondary-color: #758393;
$Icon-Success: #57bb09;

// Buttons Colors
$Button-Primary-Default: #0581da; // TODO
$button-tinted-default-color: #e1f0fb;
$button-tinted-on-hover-color: #b2d9f5;
$button-primary-on-hover-color: #1a9cfa;
$button-secondary-on-hover: #c5ccd3;
$button-disabled-default-color: #c5ccd3;
$button-secondary-default-color: #e6e9ec;
$button-alternative-default-color: rgba(170, 170, 170, 0.64);

// Page Color
$Page-Color-Background-Gray: #f0f2f4;
$Page-Color-Background-White: #fff;

// General lightmode colors
$Leaf: #c1dc19;
