.topHeader {
  display: grid;
  height: 56px;
  padding: 0px 32px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  background-color: var(--page-color-background-gray);
}

@media (min-width: 768px) {
  .topHeader {
    grid-template-columns: 288px 1fr 288px;
  }
}

@media (min-width: 1024px) {
  .topHeader {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.topHeaderItem1 {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
}

.topHeaderItem3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.nationalEmblemTitle {
  color: var(--text-primary);

  display: flex;
  align-items: center;
  gap: 11px;
  width: 188px;
}

.accountLabel {
  display: flex;
  gap: 4px;
  align-items: center;
}

.iconEgov {
  width: 69px;
  height: 24px;
  padding-top: 8px;
  box-sizing: content-box;
}

.langIconWrap {
  position: relative;
  height: 20px;
}

.langInterfaceWrap {
  position: absolute;
  z-index: 7;
  background-color: var(--surface-surface-2);
  width: 183px;
  border-radius: 10px;
  top: 30px;
  right: 0;
  box-shadow: 0px 12px 32px 0px rgba(128, 130, 136, 0.12);
}

.langHeader {
  height: 16px;
  display: flex;
  padding: 8px 12px;
  color: var(--text-secondary);
}

.langListWrap {
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
}

.langListBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  color: var(--text-primary);
}

.langCheckWrap {
  display: flex;
}
