.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.small,
.tiny {
  color: var(--text-secondary);
}

.spaced {
  padding: 12px 16px;
}

.spaced.tiny {
  padding: 8px 12px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
