.secondaryText {
  color: var(--text-secondary);
}

.textVariantRegular {
  color: var(--text-primary);
}

.textVariantError {
  color: var(--text-error);
}

.textVariantInfo {
  color: var(--text-accent);
}

.textVariantSuccess {
  color: var(--text-success);
}

.errorText {
  color: var();
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
}
