.searchLayout {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.searchIcon > :first-child {
  fill: var(--icon-secondary-color);
}

.clearIcon > :first-child {
  fill: var(--icon-secondary-color);
}

.clearIcon svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.loadingIcon {
  animation: loading 1s linear infinite;
}

.loadingIcon > :first-child {
  fill: var(--icon-accent-color);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
}

.inputContainer--modal {
  padding: 12px 16px;
  background: var(--surface-surface-white-nonconvert);
  box-shadow: 0 12px 32px 0 rgba(128, 130, 136, 0.5);
}

.inputContainer--default {
  padding: 12px 16px;
  background: var(--surface-surface-1);
}

.inputContainer--chat {
  padding: 6px 12px;
  background: var(--surface-surface-white-nonconvert);
}

.input::placeholder {
  color: var(--text-disabled-color);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer--modal .iconWrapper,
.inputContainer--default .iconWrapper,
.inputContainer--modal .clearIcon,
.inputContainer--default .clearIcon {
  height: 20px;
  width: 20px;
}

.inputContainer--chat .iconWrapper,
.inputContainer--chat .clearIcon {
  height: 16px;
  width: 16px;
}

.inputContainer--modal input,
.inputContainer--default input {
  height: 24px;
}

.inputContainer--chat input {
  height: 20px;
}

.input {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
}

.input:focus {
  caret-color: var(--default-primary-accent);
}

button {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  line-height: 0;
}
