.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currentMonth {
  margin-left: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 8px;
}

.weekdays {
  height: 24px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: calc((100% - 7 * 28px) / 7);
  color: var(--text-disabled-color);
  text-align: center;
}

.weekday {
  width: 28px;
  height: 24px;
}

.daysGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: calc((100% - 7 * 28px) / 7);
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-primary);
}

.dayDisabled {
  color: var(--text-disabled-color);
}

.daySelected {
  background-color: var(--surface-accent);
  color: var(--text-white-nonconvert-color);
  border-radius: 100px;
}
