@import '/src/styles/colors.module';
@import '/src/styles/typography.module';

.inputContainer {
  display: flex;
  align-items: center;
  background-color: $Surface-Surface-1;
  border-radius: 8px;
  padding: 12px 16px;
}

.inputContainerLabeled {
  display: block;
  background-color: $Surface-Surface-1;
  border-radius: 8px;
  padding: 12px 16px;

  label {
    color: $Text-Secondary;
  }
}

.input {
  width: 100%;
  border: none;
  background-color: $Surface-Surface-1;

  &:active,
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $Text-Disabled-color;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.clearIcon {
  cursor: pointer;
}

.input--onfocus {
  background-color: $Surface-Surface-3-color;
  .input {
    background-color: $Surface-Surface-3-color;
  }
}

.input-text {
  @include Body1Regular;
}
