.fieldsetGroup {
  border: 0;
  padding: 0;
  margin: 0;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 0px;
  gap: 12px;
}

.radio input {
  display: none;
}

.radioBtn {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid var(--button-secondary-on-hover);
  margin: 2px;
  transition: background 0.3s;
  box-sizing: border-box;
  flex-shrink: 0;
}

.radioBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  background: var(--button-primary-default);
  border-radius: 50%;
  transform: scale(0) translate(-50%, -50%);
  transition: transform 0.3s;
}

input:checked + .radioBtn::after {
  transform: scale(1) translate(-50%, -50%);
}

input:checked + .radioBtn {
  border: 2px solid var(--button-primary-default);
}

.radioBtnText {
  width: fit-content;
}
