.wrap {
  display: flex;
  width: 135px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.qrImage {
  width: 129px;
  height: 129px;
  flex-shrink: 0;
}

.icon {
  width: 122px;
  height: 42px;
  flex-shrink: 0;
}
