.wrapper {
  position: relative;
  width: 100%;
}

.panel {
  position: absolute;
  top: calc(100% - 8px);
  left: 8px;
  right: 8px;
  z-index: 10;
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 10px;
  background: var(--page-color-background-white);
  box-shadow: 0 12px 32px 0 rgba(128, 130, 136, 0.5);
  overflow: hidden;
}

.list {
  max-height: 272px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 4px;
}

.list::-webkit-scrollbar-track {
  background-color: var(--surface-surface-3);
  border-radius: 999px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--border-stroke-secondary);
  border-radius: 999px;
}

.list::-webkit-scrollbar-button {
  display: none;
}
