.popularServiceCard {
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: var(--surface-surface-1);
  text-align: left;
  color: var(--text-primary);
}

.popularServiceCard:hover {
  background: var(--surface-surface-3-color);
}

@media (min-width: 768px) {
  .popularServiceCard {
    flex-basis: calc(100% / var(--tablet) - 8px);
  }
}

@media (min-width: 1024px) {
  .popularServiceCard {
    flex-basis: calc(100% / var(--labtop) - 8px);
  }
}

@media (min-width: 1440px) {
  .popularServiceCard {
    flex-basis: calc(100% / var(--desktop) - 8px);
  }
}

.TopServicesIconWrapper {
  background: var(--text-white-nonconvert-color);
  width: 48px;
  height: 48px;
  border-radius: 32px;
  display: inline-block;
}

.TopServicesCardText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 12px;
}

.tagNew {
  display: inline-block;
  padding: 3px 6px;
  background: rgba(193, 220, 25, 1);
  text-align: center;
  border-radius: 20px;

  font-weight: 600;

  position: absolute;
  top: 8px;
  right: 8px;
}

.tagsBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 6px;
  background-color: var(--page-color-background-white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

  position: absolute;
  top: 8px;
  right: 8px;
}

.subcategory {
  width: 12px;
}

.category {
  padding: 12px;
}
