.inputContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--surface-surface-1);
  border-radius: 8px;
}

.placeholderPadding {
  padding: 16px 16px;
}

.labelPadding {
  padding: 8px 16px;
}

.inputContainerLabeled {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--surface-surface-1);
  border-radius: 8px;
}

.inputContainerIcon {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inputContainerLabeled label {
  color: var(--text-secondary);
}

.input {
  width: 100%;
  border: none;
  background-color: var(--surface-surface-1);
}

.input:active,
.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-disabled-color);
}

input {
  height: 24px;
}

textarea {
  resize: none;
  height: 24px;
  position: relative;
}

textarea::placeholder {
  position: absolute;
  top: 2px;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clearIcon {
  cursor: pointer;
}

.code {
  text-align: center;
}
