.inputContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--surface-surface-1);
  border-radius: 8px;
  padding: 8px 16px;
  transition: all 0.2s ease-out;
}

.inputContainerLabeled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  background-color: var(--surface-surface-1);
  border-radius: 8px;
}

.inputContainerIcon {
  display: flex;
  flex-direction: row;
}

.inputContainerLabeled label {
  color: var(--text-secondary);
}

.input {
  width: 100%;
  border: none;
  background-color: var(--surface-surface-1);
}

.input:active,
.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-disabled-color);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clearIcon {
  cursor: pointer;
}

.code {
  text-align: center;
}
