.iconWrapper {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.iconWrapper > :first-child > :first-child {
  fill: var(--icon-error-color);
}

.centerAlign {
  text-align: center;
}

.wrap {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
