.icon {
  width: 20px;
  height: 20px;
  fill: var(--text-error);
}

.iconWrapper {
  display: flex;
  width: 20px;
}

.error {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.textAlignCenter {
  text-align: center;
}

.textAlignLeft {
  text-align: left;
}

.textWrap {
  width: 100%;
}

.textError {
  color: var(--icon-error-color);
}
