.socialCard {
  display: flex;
  padding: 16px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 12px;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 12px;
  background: var(--surface-surface-1);
  width: 100%;
}

.socialCard:hover {
  background: var(--surface-surface-3);
}

.icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.title {
  color: var(--text-primary);
  display: flex;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}
