.accordionBody {
  padding: 16px 0;
}

.listItem {
  display: flex;
  position: relative;
  padding-bottom: 16px;
}

.listItem:last-child {
  padding-bottom: 0;
}

.blockItem {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.itemNumber {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: var(--text-white-nonconvert-color);
  background: var(--button-primary-default);
  border-radius: 100%;
}

.itemLine {
  position: absolute;
  top: 21px;
  bottom: 1px;
  left: 10px;
  width: 1px;
  min-height: 0;
  margin-left: 0;
  transform: translateX(-50%);
  background: var(--border-stroke-secondary);
}

.listItem:last-child .itemLine {
  display: none;
}

.itemDescription {
  color: var(--text-primary);
}
