.accordionBody {
  padding: 16px 0;
}

.listItem {
  display: flex;
  padding-bottom: 1px;
}

.blockItem {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
  gap: 1px;
}

.itemNumber {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: var(--text-white-nonconvert-color);
  background: var(--button-primary-default);
  border-radius: 100%;
}

.itemLine {
  flex: 1;
  min-height: 20px;
  margin-left: 10px;
  width: 1px;
  background: var(--border-stroke-secondary);
}

.listItem:last-child .itemLine {
  width: 0;
  height: 0;
  min-height: 0;
}

.itemDescription {
  color: var(--text-primary);
}
