.msgEmptyIconLayout {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.msgEmptyIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(8px);
  border-radius: 72px;
}

.msgEmptyIcon > svg {
  width: 32px;
  height: 32px;
}

.msgEmptyIcon > svg > :first-child {
  fill: var(--icon-white-nonconvert-color);
}

.msgEmptyTextLayout {
  align-self: stretch;
  text-align: center;
}

.msgEmptyText {
  color: var(--text-white-nonconvert-color);
}
