.wrap {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.info {
  color: var(--text-secondary);
  text-align: center;
}

.button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1 0 0;
}
