.accordionBtn {
  border-radius: inherit;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordionContent {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s ease-in-out;
}

.accordionContent--hidden {
  grid-template-rows: 0fr;
}

.accordionContentInner {
  min-height: 0;
}
