.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
  gap: 12px;
}

.checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}

.checkboxControl {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.labelGroupWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hintText {
  width: fit-content;
  color: var(--text-secondary);
}

.disabled {
  cursor: not-allowed;
  color: var(--text-disabled-color);
}
.labelWrap {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.action {
  border: 0;
  padding: 0;
  background: transparent;
  color: var(--text-accent);
  font: inherit;
  cursor: pointer;
}
