.chatMsgDivider {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4px;
  align-self: stretch;
}

.chatMsgDate {
  position: absolute;
  right: 12px;
  bottom: 4.08px;
  color: #758393;
  text-align: right;
}

.chatMsgWrapper {
  display: flex;
  padding: 12px 12px 20px 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  border-radius: 16px 16px var(--border-radius) 16px;
  background: var(--surface-surface-2);
}

.chatMsgText {
  display: flex;
  gap: 8px;
  align-items: center;
}
