.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  text-align: center;
  font-kerning: none;
}

.description {
  text-align: center;
  display: block;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.resendButton {
  width: fit-content;
  align-self: center;
}
